---
import type { HTMLAttributes } from 'astro/types';
import { getCardDimensions, type CardSizes } from 'src/lib/card-sizing';

interface Props extends HTMLAttributes<"article"> {
  background?: string;
  "card-number"?: number;
  landscape?: boolean;
  size?: CardSizes;
  "bleed"?: string;
}

const {
  background = "transparent",
  "card-number": cardNumber = undefined,
  "class": otherClasses = undefined,
  landscape = false,
  size = undefined,
  bleed = "0in",
  ...attrs
} = Astro.props;

const cssVariables = {
  "dy-card-bg": background,
  "dy-card-bleed": bleed,
};

console.log("bleed", bleed);

if (size) {
  const { height, width } = getCardDimensions(size, landscape);
  Object.assign(cssVariables, {
    "dy-card-height": height, "dy-card-width": width
  })

  // TODO: Use image size to determine whether we should size to 'contain' or 'cover' the image.
}
---
<article {...attrs} class:list={["card not-content", otherClasses]} data-dy-card-number={cardNumber}>
  <div class="card-inner-border">
    <slot></slot>
  </div>
</article>

<style define:vars={cssVariables}>

.card {
  --dy-card-full-width: var(--dy-card-width);
  --dy-card-full-height: var(--dy-card-height);

  --dy-card-corner-radius: 0.75em;

  min-height: var(--dy-card-full-height);
  height: var(--dy-card-full-height);
  max-height: var(--dy-card-full-height);

  min-width: var(--dy-card-full-width);
  width: var(--dy-card-full-width);
  max-width: var(--dy-card-full-width);

  background: var(--dy-card-bg);
  background-clip: content-box;
  /* background-clip: padding-box; */
  background-size: cover;
  overflow: hidden;

  padding: var(--dy-card-bleed);
  margin: calc((var(--dy-card-corner-radius) / 2) - var(--dy-card-bleed));
}
@media print {
  .card {
    --dy-card-corner-radius: 0;
    /* For some reason, having the bleed be zero breaks the calculation */
    --dy-card-full-width: if(
      style(--dy-card-bleed: 0): var(--dy-card-width);
      else: calc(var(--dy-card-width) + (var(--dy-card-bleed) * 2));
    );
    --dy-card-full-height: if(
      style(--dy-card-bleed: 0): var(--dy-card-height);
      else: calc(var(--dy-card-height) + (var(--dy-card-bleed) * 2));
    );

    margin: unset;
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

.card-inner-border {
  height: 100%;
  width: 100%;
  border: 1px solid var(--sl-color-text);
  border-radius: var(--dy-card-corner-radius);
  outline: if(
    style(--dy-card-corner-radius: 0): 0;
    else: calc(var(--dy-card-corner-radius) / 2) solid var(--sl-color-bg);
  );

  @media print {
    outline: unset;
  }
}
</style>