@layer cards {

  .bot-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 100%;
    padding: 0.5em 1em;

    color: black;

    .heading {
      width: 100%;
      margin-bottom: 0.2em;

      border-top: 2px solid navy;
      border-bottom: 2px solid navy;

      & h1 {
        display: block;
        font-family: "Baskervville Variable", serif;
        font-style: italic;
        font-size: 80%;
        font-weight: 400;
        text-align: center;
      }

      &.special,
      &.reference {
        border-top: 3px double black;
        border-bottom: 3px double black;
      }

      &.decree {
          border-top: 3px double #8E1B20;
          border-bottom: 3px double #8E1B20;
      }
      &.dilemma {
        border-top: 2px solid red;
        border-bottom: 2px solid red;
      }
    }

    h2 {
      font-family: 'Libre Bodoni Variable', serif;
      /* font-family: 'Baskervville Variable', serif; */
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 1.25em;
      text-transform: uppercase;
      line-height: 1.2em;
      padding: 0.25em 0;
      justify-self: end;
      text-align: center;
      vertical-align: bottom;
    }
    .heading + h2,
    h2:has(+ .duty) {
      font-size: 1.15em;
      letter-spacing: 0.5px;
      padding: 0.25em 0;
    }
    h2.shortTitle {
      padding: 0.75em 0;
    }
    h2.shortTitle:has(+ .duty) {
      padding: 0.35em 0;
    }
    .duty {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      font-family: 'Baskervville Variable';
      font-style: italic;
      font-size: 75%;
    }
    .main-text {
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      justify-content: center;

      & p {
        font-family: 'Baskervville Variable';
        font-variant-numeric: tabular-nums;
        font-size: var(--text-size);
        line-height: 1.25em;
        text-align: center;
        margin-bottom: 0.75em;
      }
      & strong {
        font-weight: 600;
      }
    }
    .footer {
      align-self: stretch;
      position: relative;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      margin-right: -0.25em;

      .regions {
        align-self: center;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          width: 2em;
          height: 2em;

          font-family: 'Libre Bodoni Variable', serif;
          font-weight: 600;
          font-size: 85%;
          text-align: center;
          margin-right: 0.25em;

          span {
            display: inline-block;
            min-width: 2em;
            padding-top: 0.15em;
          }
        }
        .circle {
          border: 1pt dotted black;
          border-radius: 1em;
        }
        .square {
          border: 1pt solid black;
          background: #A4582B;
          color: white;
        }
      }
    }
    .footer:has(.regions) {
      padding-top: 0.25em;
      border-top: 1px solid lightgray;
    }
    .number {
      font-size: 6pt;
      font-family: 'Baskervville SC Variable';
      font-variant-numeric: tabular-nums;
      position: absolute;
      bottom: 1px;
      right: 0px;
    }
  }

  .event-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 100%;
    padding: 0.5em 1em;

    color: black;

    h2 {
      font-family: 'Libre Bodoni Variable', serif;
      /* font-family: 'Baskervville Variable', serif; */
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 1.55em;
      text-transform: uppercase;
      line-height: 1.2em;
      padding: 0.25em;
      justify-self: end;
      text-align: center;
      vertical-align: bottom;
    }
    h2.shortTitle {
      padding: 0.75em 0.25em;
    }
    .main-text {
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      justify-content: center;

      & p {
        font-family: 'Baskervville Variable';
        font-size: var(--text-size);
        font-variant-numeric: tabular-nums;
        line-height: 1.25em;
        text-align: center;
        margin-bottom: 0.5em;
      }
      & strong {
        font-weight: 600;
      }
    }
    .smaller p {
      font-size: 80%;
    }
    .larger p {
      font-size: 120%;
    }
    .footer {
      align-self: stretch;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      margin-right: -0.2em;

      .number {
        font-size: 0.7em;
        align-self: flex-end;
        justify-self: flex-end;
      }
    }
  }

  .event-cardback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    text-align: center;

    .deck-title {
      font-family: 'Libre Bodoni Variable', serif;
      font-weight: 500;
      font-size: 2.25rem;
      line-height: 2.5rem;
      text-transform: uppercase;
    }

    .region {
      font-family: 'Baskervville SC Variable';
      font-size: 2rem;
      /* letter-spacing: 2px; */
      line-height: 1.8rem;
      padding: 1rem 0;
      margin: 0 1rem;
      border-top: 1px solid black;
    }
  }

  .office-card {
    position: relative;
    color: black;

    .main-text {
      position: absolute;
      top: 1.825in;
      left: 0.125in;
      width: 2in;
      max-width: 2in;
      height: 1.55in;
      max-height: 1.55in;

      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;

      & p, & .bonus {
        font-family: 'Baskervville Variable';
        font-variant-numeric: tabular-nums;
        font-size: var(--text-size);
        line-height: 1em;
        text-align: center;
        margin-bottom: 0.5em;
      }
      & .bonus {
        background-color: var(--bg-bonus);
        padding: 2px 0;
      }
      & strong {
        font-weight: 600;
        font-family: 'Baskervville SC Variable';
        font-variant-numeric: tabular-nums;
      }
      & hr {
        border: 1px solid #8a8879;
        border-bottom: 0;
        margin: 1em;
      }
    }
    .number {
      position: absolute;
      font-size: 6pt;
      font-family: 'Baskervville SC Variable';
      font-variant-numeric: tabular-nums;
      right: 10px;
      top: 3.25in;
    }
  }

  .office-cardback {
    position: relative;
    height: 100%;
    width: 100%;

    .chosen, .candidates {
      position: absolute;
      top: 1.025in;
      width: 1.1in;
      text-align: center;
    }
    .chosen {
      left: 0.2in;
    }
    .candidates {
      right: 0.2in;
    }

    p {
      font-family: 'Baskervville Variable';
      font-size: 9pt;
      font-weight: 500;
      line-height: 1.1em;
      margin: 0;
    }

    .title {
      font-family: 'Baskervville SC Variable';
      font-weight: 500;
      font-size: 12pt;
    }
  }

  .setup-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    padding: 0.75em 0 0.5em;

    color: black;

    .header {
      /* background-color: #CAA616; */
      text-align: center;
      height: 3em;
      min-height: 3em;
      padding: 0.5em 0;
      position: relative;

      .extra {
        position: absolute;
        right: 2mm;
        top: 0;

        font-family: 'Baskervville Variable', serif;
        font-style: italic;
        font-size: 0.65em;
        font-weight: 500;
      }
    }
    .main {
      /* height: 45mm; */
      height: 2.4in;
      /* height: 2.4in; Bridge Adjustment */

      --border-color: white;
      border: 2px solid var(--border-color);
      border-collapse: collapse;
      corner-shape: scoop;
      border-radius: 1em;
      margin: 0.5em 1em 0.25em;

      display: grid;
      align-items: center;
      align-content: stretch;
      overflow: hidden;

      .cell {
        place-self: stretch;

        display: flex;
        justify-content: center;
        align-items: center;

        div, p {
          text-align: center;
          vertical-align: middle;
          font-family: 'Baskervville SC Variable', serif;
          font-variant-numeric: tabular-nums;
          line-height: 1.05em;
        }

        /* Bridge Mode */
        /* padding: 0.2em; */
      }

      &.cells-2 {
        grid-template-rows: repeat(2, 1fr);

        .cell:nth-child(1) {
          border-bottom: 1px solid var(--border-color);
        }
        .cell:nth-child(2) {
          border-top: 1px solid var(--border-color);
        }
      }
      &.cells-3 {
        grid-template-rows: repeat(3, 1fr);

        .cell:nth-child(-n+2) {
          border-bottom: 1px solid var(--border-color);
        }
        .cell:nth-last-child(-n+2) {
          border-top: 1px solid var(--border-color);
        }
      }
      &.cells-4 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .cell {
          font-size: 90%;
        }

        .cell:nth-child(odd) {
          border-right: 1px solid var(--border-color);
        }
        .cell:nth-child(even) {
          border-left: 1px solid var(--border-color);
        }
        .cell:nth-child(-n+2) {
          border-bottom: 1px solid var(--border-color);
        }
        .cell:nth-last-child(-n+2) {
          border-top: 1px solid var(--border-color);
        }
      }
    }
    h2 {
      font-family: 'Libre Bodoni Variable', serif;
      /* font-family: 'Baskervville Variable', serif; */
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 1.55em;
      text-transform: uppercase;
      line-height: 1.2em;
      padding: 0.25em;
      justify-self: end;
      text-align: center;
      vertical-align: bottom;
    }
    h2.shortTitle {
      padding: 0.75em 0.25em;
    }
    .main-text {
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      justify-content: center;

      & p {
        font-family: 'Baskervville Variable';
        font-size: var(--text-size);
        line-height: 1.25em;
        text-align: center;
        margin-bottom: 0.5em;
      }
      & strong {
        font-weight: 600;
      }
    }
    .smaller p {
      font-size: 80%;
    }
    .larger p {
      font-size: 120%;
    }
    .footer {
      align-self: stretch;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      margin-right: -0.2em;

      .number {
        font-size: 0.7em;
        align-self: flex-end;
        justify-self: flex-end;
      }
    }
  }
}