:root {    
/*    --sl-font: 'Baskervville';*/
/*    --sl-font: 'Cormorant Variable';*/
}

/* Page Title  */
.site-title {
  color: black;
  font-family: 'Great Vibes';
  font-size: var(--sl-text-h2);
  font-weight: 400;
  --sl-nav-gap: 0.1em;
  margin-right: 0.5em;

  img {
    align-self: center;
    margin-bottom: 0.25em;
  }
}

@media (max-width: 399px) {
  .site-title {
    img {
      display: none;
    }
  }
}

[data-theme="dark"] .site-title {
  color: white;

  img {
    filter: invert(75%);
  }
}

/* Headings */
#starlight__on-this-page,
.group-label .large {
  font-family: 'Baskervville';
  font-weight: 600;
  font-size: 1.1rem;
}

.sl-container :is(h1[data-page-title]),
.sl-markdown-content :is(h1):not(:where(.not-content *)) {
  font-family: 'Great Vibes';
  font-size: 3rem;
  font-weight: 400;
}

.sl-container :is(h1, h4, h5),
.sl-markdown-content :is(h1, h4, h5):not(:where(.not-content *)) {
  font-family: 'Baskervville';
  font-weight: 600;
}

.sl-container :is(h2, h3, h6),
.sl-markdown-content :is(h2, h3, h6):not(:where(.not-content *)) {
  font-family: 'Baskervville SC';
  font-weight: 400;
}

.sl-markdown-content th:not(:where(.not-content *)) {
  font-weight: 700;
}


/* Asides */
.starlight-aside {
  border: 0.25rem double var(--sl-color-asides-border) !important;
  border-radius: 1rem;
}

li > .starlight-aside {
  margin: 1rem 0;
}


/* Buttons */
.sl-link-button[disabled] {
  cursor: inherit;
}
.sl-link-button[disabled].primary {
  background-color: color-mix(in srgb, var(--sl-color-text-accent), transparent 60%);
  border-color: color-mix(in srgb, var(--sl-color-text-accent), transparent 60%);
}
.sl-link-button[disabled].minimal,
.sl-link-button[disabled].secondary {
  color: color-mix(in srgb, var(--sl-color-white), transparent 60%);
}


/* Specialized Sections */
.sl-markdown-content .indent {
  margin-top: 1.5rem;
  margin-left: 2.5rem;
}

#trade-dice table {
  & th:nth-of-type(3),
  & td:nth-of-type(3) {
    width: 30%;
  }
  & th:nth-of-type(4),
  & td:nth-of-type(4) {
    width: 45%;
  }
}

#region-comp table {
  & th:nth-of-type(2),
  & td:nth-of-type(2) {
    width: 40%;
  }
  & th:nth-of-type(3),
  & td:nth-of-type(3) {
    width: 40%;
  }
}

#ref-icons {
  & ul {
    list-style-type: none;
    padding-left: 1em;
  }
  & img {
    height: 2em;
    width: auto;
    display: inline-block;
    vertical-align: middle;
  }
}