---
type RegionKeys = "CP" | "M" | "NE" | "S"
type Region = Record<RegionKeys, boolean>;

interface Props {
  title: string;
  shortTitle?: boolean,
  heading?: "dilemma" | "decree" | "special" | "reference" | undefined;
  textSize?: number,
  regions?: RegionKeys[],
  tags?: string[],
}

const {
  heading = undefined,
  title,
  shortTitle = false,
  textSize = 100,
  regions = undefined,
  tags = [],
} = Astro.props;

import CardNumber from '@components/deckyard/CardNumber.astro';
---

<div class="bot-card">
  {
    (heading || tags.includes('duty')) && (
      <div class:list={["heading", heading]}>
        {
          heading === "decree" ? (<h1 style="color: #8E1B20; font-weight: 600;">Colonial Decree</h1>) :
          heading === "dilemma" ? (<h1>Dillema before Parliament</h1>) :
          heading === "special" ? (<h1>Special Session of Parliament</h1>) :
          heading === "reference" ? (<h1>Gameplay Changes in 1733</h1>) :
          tags.includes('duty') ? (<h1 style="color: navy; font-weight: 500;">Colonial Duty</h1>) : ""
        }
      </div>
    )
  }
  <h2 class:list={[{shortTitle,}]} id={title}>{ title }</h2>
  <div class:list={["main-text"]} style={`--text-size: ${textSize}%`}>
    <slot></slot>
  </div>
  <div class="footer">
    { !!regions && (
      <ul class="regions">
        <li class="impacted">Impacted <br /> Regions</li>
        { regions.map((name) =>
          <li><span class="square" set:text={name} /></li>
        )}
      </ul>
    )}
    <!-- { !!regions && <p class="impacted">Impacted</p> } -->
    <div class="number">
      <CardNumber />
    </div>
  </div>
</div>
