---
interface Props {
  title: string;
  shortTitle?: boolean,
  text: "larger" | "smaller" | undefined,
  regions?: string[],
}

const { title, shortTitle = false, text = undefined, regions = "" } = Astro.props;

import CardNumber from './CardNumber.astro';
---

<div class="column">
  <h2 class:list={[{shortTitle,}]} id={title}>{ title }</h2>
  <div class:list={["main-text", text]}>
    <slot></slot>
  </div>
  <div class="footer">
    <div class="number">
      <CardNumber />
    </div>
    { regions && (
      <ul class="regions">
        {regions.map((r) => (<li set:text={r} />))}
      </ul>
    )}
  </div>
</div>

<style>
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 100%;
    padding: 0.5em 1em;

    color: black;

    /* Debug flex layout.
    & > :global(*) {
      border: 1px solid lightblue;
    } */
  }
  h2 {
    font-family: 'Libre Bodoni Variable', serif;
    /* font-family: 'Baskervville Variable', serif; */
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1.55em;
    text-transform: uppercase;
    line-height: 1.2em;
    padding: 0.25em;
    justify-self: end;
    text-align: center;
    vertical-align: bottom;
  }
  h2.shortTitle {
    padding: 0.75em 0.25em;
  }
  .main-text {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    & :global(p) {
      font-family: 'Baskervville Variable';
      line-height: 1.25em;
      text-align: center;
      margin-bottom: 0.5em;
    }
    & :global(strong) {
      font-weight: 600;
    }
  }
  .smaller :global(p) {
    font-size: 80%;
  }
  .larger :global(p) {
    font-size: 120%;
  }
  .footer {
    align-self: stretch;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    margin-right: -0.2em;

    .number {
      font-size: 0.7em;
      align-self: flex-end;
      justify-self: flex-end;
    }
    .regions {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        width: 1.75em;
        height: 1.75em;

        text-align: center;
        vertical-align: middle;

        font-family: 'Libre Bodoni Variable', serif;
        font-weight: 600;
        font-size: 80%;

        border: 1px solid black;
        border-radius: 3px;
        margin-right: 0.25em;
      }
    }
  }
</style>