---
interface Props {
  title: string;
  shortTitle?: boolean;
  textSize?: number;
  regions?: string[];
}

const { title, shortTitle = false, textSize = 100, regions = "" } = Astro.props;

import CardNumber from '@components/deckyard/CardNumber.astro';
---

<div class="event-card">
  <h2 class:list={[{shortTitle,}]}>{ title }</h2>
  <div class="main-text" style={`--text-size: ${textSize}%`}>
    <slot></slot>
  </div>
  <div class="footer">
    <div class="number">
      <CardNumber />
    </div>
  </div>
</div>
