---
interface Props {
  chosen: string;
}

const { chosen } = Astro.props;
---

<div class="office-cardback">
  <div class="chosen">
    <p class="title">Chosen by:</p>
    <p>{chosen}.</p>
  </div>
  <div class="candidates">
    <p class="title">Candidates:</p>
    <slot></slot>
  </div>
</div>
