---
interface Props {
  textSize?: number;
}

const { textSize = 80 } = Astro.props;

import CardNumber from '@components/deckyard/CardNumber.astro';
---

<div class="office-card">
  <div class="main-text" style={`--text-size: ${textSize}%`}>
    <slot></slot>
    { /* Convert to Dice Roll Component */
      Astro.slots.has("dice-pool") && (Astro.slots.has("dice-success") || Astro.slots.has("dice-failure")) && (
        <div class="dice-grid">
          <div class="dice-pool">
            <div class="title">Dice Pool</div>
            <slot name="dice-pool"></slot>
          </div>
          <div class="dice-results">
            {
              Astro.slots.has("dice-success") && (
                <div class="title">Success</div>
                <slot name="dice-success"></slot>
              )
            }
            {
              Astro.slots.has("dice-failure") && (
                <div class="title">Failure</div>
                <slot name="dice-failure"></slot>
              )
            }
          </div>
        </div>
      )
    }
  </div>
  <div class="number">
    <CardNumber />
  </div>
</div>
